.cost {
  color: var(--black);
  font-weight: 800;
  height: 22px;
  line-height: 30px;
  margin-bottom: -8px;
  margin-top: 24px;
  min-height: 22px;
  min-width: 162px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 162px;
}
.flex-row {
  align-items: center;
  display: flex;
  height: 32px;
  min-width: 335px;
  position: relative;
}
.flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 2.28px;
  min-width: 11px;
}
.frame-1605 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 458px;
  position: absolute;
  top: 0;
  width: 160px;
}
.frame-1606 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 1.0px;
  margin-top: 24px;
  min-height: 2000px;
  position: relative;
  width: 302px;
}
.group {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 28px;
  margin-top: 2.26px;
  min-width: 3px;
}
.group-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 23px;
  min-height: 22px;
  position: absolute;
  top: 34px;
  width: 28px;
}
.group-14 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 40px;
  display: flex;
  height: 80px;
  margin-right: 2.0px;
  min-width: 80px;
  padding: 23px;
}
.group-15 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 39px;
  min-height: 126px;
  width: 162px;
}
.group-150 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 40px;
  display: flex;
  height: 80px;
  margin-right: 2.0px;
  min-width: 80px;
}
.group-151 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 126px;
  width: 162px;
}
.group-154 {
  align-items: flex-start;
  display: flex;
  margin-left: 1.0px;
  margin-top: 40px;
  min-width: 160px;
}
.group-212 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 593px;
  width: 375px;
}
.image- {
  height: 58px;
  margin-left: 24px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 80px;
}
.image-3 {
  height: 58px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 80px;
}
.line-55 {
  height: 400px;
  left: 74px;
  position: absolute;
  top: 71px;
  width: 1px;
}
.money-bag {
  align-items: flex-start;
  display: flex;
  height: 32px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 32px;
}
.overlap-group {
  height: 471px;
  position: relative;
  width: 160px;
}
.overlap-group1 {
  height: 32px;
  margin-top: 0;
  position: relative;
  width: 32px;
}
.overlap-group1-1 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 12px;
}
.overlap-group1-2 {
  height: 33px;
  margin-top: -0.5px;
  position: relative;
  width: 32px;
}
.overlap-group2 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 52px;
}
.overlap-group3 {
  height: 13px;
  margin-right: 1.9px;
  position: relative;
  width: 27px;
}
.overlap-group4 {
  height: 26px;
  margin-top: -0.47px;
  position: relative;
  width: 4px;
}
.overlap-group5 {
  align-items: flex-start;
  background-color: var(--mercury);
  display: flex;
  height: 90px;
  justify-content: flex-end;
  min-width: 375px;
  padding: 16px 43px;
}
.overlap-group5-1 {
  height: 56px;
  margin-top: -0.97px;
  position: relative;
  width: 52px;
}
.overlap-group6 {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 503px;
  padding: 21px 0;
  position: relative;
  width: 375px;
}
.place {
  color: var(--black);
  font-weight: 800;
  height: 22px;
  line-height: 30px;
  margin-bottom: -8px;
  margin-top: 24px;
  min-height: 22px;
  min-width: 162px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 162px;
}
.place-1 {
  color: var(--black);
  font-weight: 800;
  height: 20px;
  line-height: 30px;
  margin-bottom: -10px;
  margin-left: 2.0px;
  margin-top: 24px;
  min-height: 20px;
  min-width: 337px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 337px;
}
.quality {
  align-items: flex-start;
  display: flex;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 32px;
}
.rectangle-7 {
  height: 200px;
  margin-top: 40px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 335px;
}
.rectangle-76 {
  height: 122px;
  margin-top: 24px;
  mix-blend-mode: normal;
  width: 377px;
}
.rectangle-77 {
  height: 236px;
  margin-right: 1.0px;
  margin-top: 80px;
  mix-blend-mode: normal;
  width: 336px;
}
.text-1 {
  color: var(--black);
  line-height: 24px;
  margin-left: 2.0px;
  margin-top: 24px;
  min-height: 406px;
  min-width: 337px;
  mix-blend-mode: normal;
  width: 337px;
}
.text-2 {
  color: var(--black);
  line-height: 24px;
  margin-left: 2.0px;
  margin-top: 24px;
  min-height: 480px;
  min-width: 337px;
  mix-blend-mode: normal;
  text-align: center;
  width: 337px;
}
.text-3 {
  color: var(--black);
  line-height: 21px;
  margin-left: 2.0px;
  margin-top: 24px;
  min-height: 314px;
  min-width: 337px;
  mix-blend-mode: normal;
  width: 337px;
}
.text-4 {
  color: var(--black);
  line-height: 24px;
  margin-left: 2.0px;
  margin-top: 24px;
  min-height: 320px;
  min-width: 337px;
  mix-blend-mode: normal;
  width: 337px;
}
.text-5 {
  color: var(--black);
  line-height: 21px;
  margin-left: 2.0px;
  margin-top: 24px;
  min-height: 168px;
  min-width: 337px;
  mix-blend-mode: normal;
  width: 337px;
}
.title {
  color: var(--black);
  font-weight: 800;
  height: 24px;
  line-height: 34px;
  margin-bottom: -10px;
  margin-left: 2.0px;
  margin-top: 34px;
  min-height: 24px;
  min-width: 337px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 337px;
}
.transparency {
  color: var(--black);
  font-weight: 800;
  height: 22px;
  line-height: 30px;
  margin-bottom: -8px;
  margin-top: 24px;
  min-height: 22px;
  min-width: 162px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 162px;
}
.vector {
  height: 2px;
  left: 14px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 16px;
}
.vector-1 {
  height: 2px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 5px;
}
.vector-10 {
  height: 5px;
  left: 50px;
  mix-blend-mode: normal;
  position: absolute;
  top: 23px;
  width: 4px;
}
.vector-11 {
  height: 33px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 32px;
}
.vector-12 {
  height: 26px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 2px;
}
.vector-13 {
  height: 14px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 7px;
}
.vector-14 {
  height: 8px;
  left: 11px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 10px;
}
.vector-15 {
  height: 11px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3px;
  width: 9px;
}
.vector-16 {
  height: 3px;
  left: 50px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 6px;
}
.vector-17 {
  height: 11px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 2px;
}
.vector-18 {
  height: 6px;
  mix-blend-mode: normal;
  width: 6px;
}
.vector-19 {
  height: 2px;
  left: 37px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 12px;
}
.vector-2 {
  height: 3px;
  left: 37px;
  mix-blend-mode: normal;
  position: absolute;
  top: 28px;
  width: 3px;
}
.vector-20 {
  height: 3px;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 3px;
}
.vector-21 {
  height: 11px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3px;
  width: 8px;
}
.vector-22 {
  height: 4px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 3px;
}
.vector-23 {
  height: 4px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  width: 2px;
}
.vector-24 {
  height: 8px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 2px;
}
.vector-25 {
  height: 8px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 2px;
}
.vector-26 {
  height: 12px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 9px;
}
.vector-27 {
  height: 5px;
  left: 52px;
  mix-blend-mode: normal;
  position: absolute;
  top: 23px;
  width: 4px;
}
.vector-28 {
  height: 5px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 5px;
}
.vector-29 {
  height: 19px;
  left: 50px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 2px;
}
.vector-3 {
  height: 4px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 3px;
}
.vector-30 {
  height: 3px;
  left: 37px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 3px;
}
.vector-31 {
  height: 3px;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 28px;
  width: 3px;
}
.vector-32 {
  height: 2px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 4px;
}
.vector-33 {
  height: 2px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 21px;
  width: 27px;
}
.vector-34 {
  height: 12px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 9px;
}
.vector-35 {
  height: 2px;
  left: 36px;
  mix-blend-mode: normal;
  position: absolute;
  top: 24px;
  width: 18px;
}
.vector-36 {
  height: 2px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 22px;
  width: 4px;
}
.vector-37 {
  height: 2px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  width: 15px;
}
.vector-38 {
  height: 26px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 2px;
}
.vector-39 {
  height: 20px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 21px;
}
.vector-4 {
  height: 5px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 23px;
  width: 4px;
}
.vector-40 {
  height: 4px;
  left: 28px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  width: 2px;
}
.vector-41 {
  height: 3px;
  left: 7px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 15px;
}
.vector-42 {
  height: 11px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 2px;
}
.vector-43 {
  height: 13px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  width: 2px;
}
.vector-5 {
  height: 13px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  width: 2px;
}
.vector-6 {
  height: 12px;
  left: 21px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 9px;
}
.vector-7 {
  height: 32px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 32px;
}
.vector-8 {
  height: 2px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 27px;
  width: 4px;
}
.vector-9 {
  height: 6px;
  mix-blend-mode: normal;
  width: 5px;
}
.why-choose-us {
  color: var(--black);
  font-weight: 800;
  height: 48px;
  line-height: 34px;
  margin-left: 2.0px;
  margin-top: 48px;
  min-height: 48px;
  min-width: 243px;
  mix-blend-mode: normal;
  text-align: center;
  width: 243px;
}
.why-webuild {
  color: var(--black);
  font-weight: 800;
  height: 24px;
  line-height: 34px;
  margin-bottom: -10px;
  margin-left: 2.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 337px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 337px;
}
.why-webuild-1 {
  color: var(--black);
  font-weight: 800;
  height: 24px;
  line-height: 34px;
  margin-bottom: -10px;
  margin-left: 2.0px;
  margin-top: 80px;
  min-height: 24px;
  min-width: 337px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 337px;
}
.x02-about-page-mobile {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 6690px;
  mix-blend-mode: normal;
  position: relative;
  width: 377px;
}
.x02-about-page-mobile-item {
  color: var(--black);
  font-weight: 800;
  line-height: 34px;
  margin-bottom: -2px;
  margin-left: 2.0px;
  margin-top: 24px;
  min-height: 32px;
  min-width: 337px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 337px;
}
